<section>
    <aside style="width:15%">
        <h3 style="font-size:1.15vw;">Calories</h3>
        <p> {{ page.cals }} </p>
    </aside>
    <aside style="width:15%">
        <h3 style="font-size:1.15vw;">Fat</h3>
        <p> {{ page.fat }} </p>
    </aside>
    <aside style="width:15%">
        <h3 style="font-size:1.15vw;">Carbs</h3>
        <p> {{ page.carbs }} </p>
    </aside>
    <aside style="width:15%">
        <h3 style="font-size:1.15vw;">Protein</h3>
        <p> {{ page.protein }} </p>
    </aside>
</section>